.errorContainer{
	float:left;
	margin:5px 0px;
	border:1px solid #DF0505;
	background: url(../images/error_msg.png) no-repeat scroll 9px #FDE4E1;
	width:99.5%;
	height:40px;
	position:absolute;
	z-index:999;
}
#validationErr{
	float:left;
	margin:5px 0px;
	border:1px solid #DF0505;
	background-color: #FDE4E1;
	color:#DF0505;
	padding-left: 10%;
	width:89.5%;
}
.errorContainer span{
	float:left;
	padding-left:50px;
	color:#DF0505;
	font-weight:bold;
	line-height:38px;
	font-size:13px;
}
#message-green{
	float:left;
	margin:5px 0px;
	border:1px solid #64a71c;
	background: url(../images/success.png) no-repeat scroll 9px #DDEACF;
	width:99.5%;
	height:40px;
}
#message-green span{
	float:left;
	padding-left:50px;
	color:#64a71c;
	font-weight:bold;
	line-height:38px;
	font-size:13px;
}